.imagen{
    background-position: center;
    background-repeat:no-repeat;
    height: 125px;
    width: 125px;
    display: block;
    border:none;
    border-radius: 50%;
}

#contenedor{
    width:96px;
    height: 96px;
    float:right;
    text-align: center;
    margin:20%;
}

.dragging {
    opacity: 0.5;
  }